
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
}

table.game {
    border: 3px solid black;
}

table.block {
    border: 2px solid black;
}

td.cell {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 3em;
    padding: 0.1em;
    text-align: center;
    width: 1em;
}

td.candidate {
    font-size: 0.33em;
    width: 1em;
}

td.candidate:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}


